.vendor-dashboard-top-bar {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;

  box-shadow: 0px -10px 17px #3b546e;
}
.vendor-top-container {
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.vendor-content-top {
  font-size: 21px;
  font-weight: 600;
  font-family: sans-serif;
  /* padding: 10px; */
}
.vendor-button-toggle button{

  font-size: 39px;
  padding: 0px 11px;
  color: #3574b1;
  border-radius: 5px;
  /* font-weight: bolder; */
  border: 1px solid #3574b1;
  /* border: 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 48px;
  cursor: pointer;
  background: transparent;
}
.vendor-button-toggle {
  padding: 10px;
}
.vendor-button-toggle button:focus {
  outline: 0;
}

.sidebar-details {
  width: 13%;
  /* width: 17%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 18px 0px; */
  /* border-bottom: 1px solid white;*/
}
.icon-sidebar {
  border-radius: 50%;
}
.icon-sidebar img {
  width: 35px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar-name {
  /* width: 50%; */
  line-height: 34px;
}
.sidebar-name p {
  font-size: 20px;
  margin: 0;
  /* color: white; */
  font-weight: 500;
  /* font-family: inherit; */
  text-transform: capitalize;
}
.logout-icon button {
  border: 0;
  background: transparent;
  font-size: 22px;
  display: flex;
  color: #3574b1;
}
.logout-icon button:focus {
  outline: 1px solid rgb(94, 159, 185);
  border-radius: 3px;
}
