.custom_container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
.card-home {
  width: 31%;
  display: flex;
  /* border: 1px solid whitesmoke; */
  /* box-shadow: 0px 0px 6px #f3f3f3; */
  flex-wrap: wrap;
  min-height: 530px;
  /* max-height: 474px; */
  /* height: 400px; */
  transition: 0.6s;
}
.card-home:hover {
  box-shadow: 0px 0px 6px #e0e0e0;
}
.card-home-image {
  width: 100%;
  padding: 30px;
}
.card-home-image img {
  object-fit: cover;
  width: 100%;
}
.card-home-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 11px;
  line-height: 34px;
}
.card-home-title {
  width: 100%;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
}
.card-home-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  color: #838282;
}
.card-home-timer {
  width: 100%;
  text-align: start;
  font-size: 16px;
  font-family: inherit;
  color: #727272;
  font-weight: 700;
}
.card-home-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}
.card-home-button button {
  border: 0;
  padding: 12px 0px;
  font-size: 16px;
  width: 100%;
  background-color: #2695ff;
  font-family: inherit;
  font-weight: 500;
  color: white;
  transition: 0.4s;
}
.card-home-button button:hover {
  background-color: #81c6ff;
  cursor: pointer;
}

/* STEPS CARD */

.steps-card {
  /* padding: 14px 13px 56px 14px; */
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  min-height: 280px;
  max-height: 280px;
}
.steps-icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.circle-icons {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #2695ffb0;
  color: #fff;
  font-size: 39px;
}
.steps-card-text {
  width: 100%;
}
.steps-card-text p {
  color: #747474fa;
  font-size: 14.5px;
}
.steps-card-text h3 {
  font-size: 19px;
  font-weight: 500;
  font-family: inherit;
  margin: 0;
  padding: 8px 0px;
}

.dashboard-card {
  width: 48%;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px #c1c1c1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.dashboard-card-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
.dashboard-card-content h1,
h2 {
  margin: 0;
}
@media (max-width: 1135px) {
  .steps-card {
    width: 230px;
  }
}
@media (max-width: 999px) {
  .steps-card {
    width: 200px;
  }
}
@media (max-width: 999px) {
  .steps-card {
    width: 300px;
  }
  .steps-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-gap: 10px; */
    gap: 63px;
    padding: 11px 22px;
  }
  .head-text {
    padding: 47px 0px 32px 30px;
  }
}
@media (max-width: 708px) {
  .steps-card {
    width: 250px;
  }
  .steps-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-gap: 10px; */
    gap: 53px;
    padding: 11px 22px;
  }
}

@media (max-width: 606px) {
  .steps-card {
    width: 220px;
  }
  .steps-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 33px;
    gap: 33px;
    padding: 11px 22px;
  }
}

@media (max-width: 515px) {
  .steps-card {
    width: 300px;
    box-shadow: 0px 0px 20px #0000000f;
  }
  .right-angle-icons {
    display: none;
  }
  .steps-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 33px;
    gap: 33px;
    padding: 11px 22px;
  }
  .steps-icons {
    align-items: center;
    justify-content: center;
  }
  .steps-card-text {
    text-align: center;
  }
}
