.navbar-tops {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 0px 7px #cbcbcb78;
}
.navbar-top-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 37px;
  grid-gap: 37px;
  gap: 37px;
  padding: 7px 28px;
  color: #747474;
  font-size: 14px;
  position: relative;
}
.order-tracking {
  position: absolute;
  right: 23px;
}

.navbar-second-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 17px 17px;
}
.navbar-social-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-social-content span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #4d95ff;
  border-radius: 50%;
  color: white;
  background: #4d95ff;
  box-shadow: 0px 0px 4px #2c2c2c75;
  margin: 0px 9px;
}
.sign-in-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  color: #4d95ff;
  font-family: sans-serif;
  align-items: center;
}
.action-name {
  padding-right: 8px;
  text-align: right;
  border-right: 2px solid #cbcbcb;
  margin-right: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}
.action-auth button {
  color: #999999;
  font-weight: 700;
  font-family: sans-serif;
  border: 0;
  background-color: transparent;
}
.action-auth button:focus {
  outline: 1px solid #2695ff;
}
.action-auth button:hover {
  color: cornflowerblue;
}
.navbar-content-logo img {
  /* height: 37px; */
  object-fit: contain;
}
.toggle-button {
  display: none;
}
.toggle-button button {
  border: 1px solid black;
  background: transparent;
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px 10px;
  border-radius: 4px;
}
/* NAVBAR PART 3 */

.navbar-wrapper {
  width: 100%;
  background-color: #4d95ff;
  box-shadow: 0px 0px 8px #a9a9a985;
}
.navbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  justify-content: center;
}
.navbar-content-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.item-link {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.item-link a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 20px;
  transition: 0.5s ease-in-out;
  line-height: 3.5;
  position: relative;
  display: block;
}
.item-link:hover a {
  color: #4d95ff;
}
.item-link:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(100%);
}
.item-link:hover:before {
  transform: translateY(0%);
}

.sidenav-wrapper {
  background: #6495edf7;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
}
.sidenav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 364px;
}

@media (min-width: 677px) {
  .sidenav-wrapper {
    display: none !important;
  }
  .toggle-button {
    display: none !important;
  }
}

@media (max-width: 677px) {
  .navbar-second-wrapper {
    position: fixed;
    width: 100%;
    background: #ffffffe0;
    box-shadow: 0px 0px 10px #00000021;
    z-index: 999;
  }
  .navbar-tops {
    display: none;
  }
  .sign-in-button {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  .navbar-social-content {
    display: none;
  }
  .navbar-wrapper {
    display: none;
  }
  .item-link {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .sidenav-wrapper {
    width: 60%;
  }
}

/* SIDE BAR */

.sidebar-container {
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.sidebar-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.sidebar-head {
  border-bottom: 1px solid #3b546e;
  color: #77a6cb;
  padding: 4px;
  text-align: center;
  width: 100%;
}
.sidebar-head h1 {
  margin: 0;
  font-size: 45px;
}
.sidebar-head span {
  color: white;
}
.sidebar-head a {
  text-decoration: none;
  color: #77a6cb;
}
.sidebar-head a:hover {
  color: #3f6583;
}

.items-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 54px 0px;
}

.sidebar-items button {
  border: 0;
  text-align: center;
  width: 90%;
  padding: 7px;
  background-color: #58b74f;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
.sidebar-items button:hover {
  background-color: #4ada40;
}

/* New Css */
.sidebar-item {
  width: 100%;
  border: 0px;
  outline: 0px;
  background: transparent;
}
.button-sidebar {
  border: 0;
  background: transparent;
  color: #efefef;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 21px 27px;
  font-size: 17px;
  font-weight: 500;
}
.button-sidebar:hover {
  color: #9d9d9d;
}
.button-sidebar:focus {
  outline: 0px;
}
.btn-text-vendor {
  margin-left: 19px;
}
.end-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #3b546e;
}
.close-btn-sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 9px 14px;
  display: none;
  border-bottom: 1px solid #3b546e;
}
.close-btn-sidebar button {
  border: 0;
  background: transparent;
  font-size: 25px;
  color: white;
}
