.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(238, 238, 238);
}
.navbar-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #6ba6d5;
  width: 100%;
  z-index: 99;
}
.custom_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.navbar-top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-social-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  color: white;
  width: 50%;
  flex: 50%;
}
.facebook {
  padding: 10px;
}
.top-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  color: white;
  width: 50%;
  flex: 50%;
}
.actions {
  padding-right: 8px;
  text-align: right;
  font-size: 17px;
  border-right: 1px solid white;
  margin-right: 3px;
}

.logout button {
  border: 0;
  /* padding: 8px; */
  font-size: 17px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* NAVBAR MAIN */

.navbar-main {
  box-shadow: 0px 0px 5px grey;
  background-color: white;
  padding: 15px;
  width: 100%;
}
.navbar-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar-logo {
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
  color: #48789f;
}
.navbar-logo span {
  color: #2b6777;
}
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav-items {
  padding: 10px 20px;
  font-size: 20px;
}
.nav-items a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #48789f;
}
.nav-items a:hover {
  border-bottom: 3px solid #48789f;
}
.nav-items:last-child {
  padding-right: 0;
}

/* SIDE BAR */

.sidebar-container {
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.sidebar-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.sidebar-head {
  border-bottom: 1px solid #3b546e;
  color: #77a6cb;
  padding: 4px;
  text-align: center;
  width: 100%;
}
.sidebar-head h1 {
  margin: 0;
  font-size: 45px;
}
.sidebar-head span {
  color: white;
}


.items-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 54px 0px;
}
/* .sidebar-items {
  width: 100%;
  padding: 21px 27px;
  font-size: 16px;
  border-bottom: 1px solid white;
  text-transform: capitalize;
  color: #e3e3e3 !important;
  display: flex;
  flex-wrap: wrap;
  align-items: self-end;
}
.icon-dash-vendor {
  font-size: 19px;
  width: 19%;
}
.sidebar-items:active {
  color: #4ada40 !important;
}
.sidebar-items a {
  text-decoration: none;
  color: #e3e3e3;
  font-weight: 600;
}
.sidebar-items a:hover,
.sidebar-items:hover {
  color: #48789f;
  cursor: pointer;
}
.sidebar-head a {
  text-decoration: none;
} */
.sidebar-items button {
  border: 0;
  text-align: center;
  width: 90%;
  padding: 7px;
  background-color: #58b74f;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
.sidebar-items button:hover {
  background-color: #4ada40;
}

/* New Css */
.sidebar-item {
  width: 100%;
  border: 0px;
  outline: 0px;
  background: transparent;
}
.button-sidebar {
  border: 0;
  background: transparent;
  color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 21px 27px;
  font-size: 17px;
  font-weight: 500;
}
.button-sidebar:hover {
  color: #9d9d9d;
}
.button-sidebar:focus {
  outline: 0px;
}
.btn-text-vendor {
  margin-left: 19px;
}
.end-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 45px 0px; */
  border-top: 1px solid #3b546e;
  
}
