.user-card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 20px;
  justify-content: center;
  gap: 24px;
}
.user-wining-card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 17px rgb(134 128 128 / 14%);
  border-radius: 5px;
  align-items: center;
}
.user-card-image {
  flex: 2;
}
.user-card-content {
  flex: 3 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 170px;
  color: grey;
  padding: 0px 10px;
}

.user-card-image img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-repeat: no-repeat;
}
.user-card-heading {
  flex: 1 100%;
}
.user-card-heading h4 {
  font-weight: 700;
}
.user-card-heading h4:hover {
  cursor: pointer;
  color: cornflowerblue;
  transition: 0.2s ease-in-out;
}
.user-card-description {
  flex: 1 100%;
}
.user-card-price {
  flex: 1 100%;
  font-weight: bold;
}
.user-card-endprice {
  flex: 1 100%;
  font-weight: bold;
}
.user-card-endprice span,
.user-card-price span {
  color: cornflowerblue;
}
@media (max-width: 1200px) {
  .user-wining-card {
    width: 100%;
  }
}
@media (max-width: 740px) {
  .user-card-image {
    flex: 1 100%;
  }
  .user-card-content {
    height: 200px;
  }
}
