.footer-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  border-top: 1px solid lightgrey;
  height: 300px;
}
.footer-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 10px;
}
.footer-card {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #747474fa;
  line-height: 2.4;
}
.footer-card h1 {
  font-family: fantasy;
  color: #48789f;
}
.footer-card h1 span {
  color: #2b6777;
}
.footer-card p {
  font-size: 17px;
  color: #747474fa;
}
.footer-bottom {
  width: 100%;
  background: #f9f9f9;
}
.footer-text {
  padding: 14px 5px;
  color: #747474fa;
  text-align: start;
}
.footer-card h4 {
  margin: 0;
  line-height: 35px;
  color: #000000c2;
  font-weight: 800;
}
.footer-card h4:hover,
.footer-subtext:hover {
  color: #4d95ff;
  cursor: pointer;
}
.footer-subtext {
  width: 100%;
}

/* New Css */
.footer-call-us {
  width: 100%;
}
.footer-send-email {
  width: 100%;
}
@media (max-width: 700px) {
  .footer-card {
    width: 45% !important;
    flex: 1 45%;
  }
  .footer-card-wrapper {
    padding: 20px 10px;
  }
  .footer-text {
    text-align: center;
  }
}
