.custom_container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  border-top: 1px solid lightgrey;
  height: 437px;
}
.footer-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0px;
}
.footer-card {
  /* width: 280px; */
  flex: 1;
  display: flex;
    flex-wrap: wrap;
    /* align-items: baseline; */
    line-height: 31px;
    /* font-weight: 500; */
    font-size: 18px;
    font-family: revert;
}
.footer-card h1 {
  font-family: fantasy;
  color: #48789f;
}
.footer-card h1 span {
  color: #2b6777;
}
.footer-card p {
  font-size: 17px;
  color: #6a6a6a;
}
.footer-bottom {
  width: 100%;
  border-top: 1px solid #2695ff;
}
.footer-text {
  padding: 21px 5px;
  color: #1c4566;
  text-align: center;
}
.footer-card h4{
    font-weight: 500;
    margin: 0;
    line-height:35px
}
.footer-card h4:hover{
    color: #48789f;
    cursor: pointer;
}
.footer-subtext{
  width: 100%;
}
