.dashboard-sidebar {
  width: 20%;
  background-color: rgb(63, 62, 62);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar-container {
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.sidebar-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.sidebar-head {
  border-bottom: 1px solid white;
  color: #77a6cb;
  padding: 4px;
  text-align: center;
  width: 100%;
}
.sidebar-head h1 {
  margin: 0;
  font-size: 45px;
}
.sidebar-head span {
  color: white;
}
.dashboard-content {
  background-color: darkred;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.dashboard-content-container {
  width: 100%;
  margin: 0;
  max-width: 1100px;
}

.sidebar-items {
  padding: 20px;
  font-size: 18px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}
.sidebar-items a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.sidebar-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}
.icon-sidebar {
  border-radius: 50%;
  border: 3px solid beige;
}
.icon-sidebar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar-name {
  width: 50%;
  line-height: 34px;
}
.sidebar-name p {
  font-size: 19px;
  margin: 0;
  color: white;
}
