.container-admin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}
.dashboard-sidebar {
  background-color: rgb(0 0 24);
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.dashboard-content {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.dashboard-content-container {
  width: 100%;
  margin: 0;
  max-width: 1100px;
  height: 100%;
}

.dashboard-top-bar {
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #e7e7e7;
  justify-content: space-between;
  border-radius: 5px;
}
.content-top {
  font-size: 21px;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px;
}
.button-toggle {
  padding: 10px;
}
.button-toggle button {
  background-color: rgb(119 166 203);
  border: 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
}
.button-toggle button:focus {
  outline: 0;
}
.button-toggle button img {
  width: 28px;
  height: 43px;
}

.container-card-wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0px;
  gap: 40px;
}

.dashboard-card-wrapper {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}
.container-category-wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0px;
}

.forms-category-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form-category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form-label {
  width: 100%;
  font-size: 18px;
  padding: 9px 0px;
  font-weight: 600;
}
.form-input-cat {
  width: 100%;
  display: flex;
}
.form-input-cat input {
  width: 100%;
  font-size: 16px;
  background-color: #f1f1f1;
  padding: 7px;
  width: 100%;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  transition: 0.2s;
}
.form-input-cat input:focus {
  outline: 0px;
  background-color: white;
}
.btn-primary {
  width: 130px;
}
.add-button {
  width: 100%;
  text-align: end;
}
.table-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.table-form {
  width: 100%;
  padding: 30px 0px;
}
.table-form table {
  text-align: center;
}
.table-form table thead {
  color: white;
  background-color: #000018;
}
.button-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* SIDE BAR */
